 
@media only screen and (max-width:1200px){
   .hero-text-box{
    padding: 0 2%;
    width: 100%;
    
}
    .row { padding: 0 2%;}
    
}



@media only screen and (max-width:1023px){
    .hero-text-box{
        padding-left: 30%;
        width: 100%;
    }
    .col
    {width: 100%;}
    
    .main-nav{
        margin-left: 50%;
        margin-top: -45%;
    }
    
    body {font-size: 16px;}
    section {padding: 60px 0px;}
    
    .long-copy{
    width: 80%;
    margin-left: 10%;
}
    .steps-box {margin-top: 10px;}
    .steps-box:last-child {margin-top:10px;}
    .works-steps {margin-bottom: 40px;} 
    .works-step:last-of-type {margin-bottom: 60px}
    
    .app-screen {width: 50%;
    margin-right: 5px;}
    .icon-small {width: 16px;margin-right: 5px;}

    .icon-big {width:10px;}
    
    .plan-box{width: 100%;
        margin-left:100%;}
    .plan-price{font-size: 220%;}
    .contact-form {width: 90%;}
    
}




/*SMALL PHONES TO TABLETS FROM481 TO 767PX*/
@media only screen and (max-width:767px){
    .body { font-size
        16px;}
    section{padding: 30px;}
    .row,
    .hero-text-box {padding-left: 34%;}
    .col {width: 100%;}
    
    .main-nav{display: none;}
    .mobile-nav-icon{display: inline-block;}
    .main-nav{
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a{
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
            
    }
    
    
    .h1{font-size: 180%;}
        .h2{font-size: 150%;}
    .long-copy{width: 100%;
    margin-left: 0%;}
    .app-screen{width:40%;}
    .steps-box:first-child {text-align: center;}
    .works-step div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    .map-box{
    width: 100%;
    height: 570px;
    position: relative;
}
.map{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 0;
}
.form-box{
    position: relative;
    height: auto;
    padding: 30px 0;
    width: 100%;
}


    
    
    





@media only screen and (max-width:480px){
    .section{padding: 25px 0;}
    .contact-form:{width: 100%;}
}